body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #333333); /* Fundo preto com gradiente */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo com transparência */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 25px; /* Botões arredondados */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.short-link-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #2980b9;
}

.error-message {
    color: red;
    font-weight: bold;
}
